@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: grid;
  grid-template-columns: min-content 1fr;
  background-color: #f1f5f9;
}

aside {
  background-color: #f9a825;
  height: 100vh;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  color: white;
  font-size: 20px;
}

aside div {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

aside nav {
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.inicio {
  cursor: pointer;
  color: white;
}

.clientes {
  background-color: #f0a01f;
  height: 42px;
  cursor: pointer;
}

#pessoa {
  border-radius: 8px;
  height: 40px;
  width: 414px;
  border: 1px solid #746e6eba;
  padding-left: 10px;
}

.imagem {
  margin: 20px;
}

main {
  display: grid;
  grid-template-rows: min-content 1fr;
}

header {
  background-color: #f9a825;
  padding: 12px;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.circulo {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
}

.container {
  padding: 45px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.pesquisa {
  height: 25px;
  position: absolute;
  top: 11.4rem;
  left: 32rem;
  cursor: pointer;
}

.p-container {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #666666;
}

.adicionar {
  background-color: #959c55;
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 13px;
  padding: 0px 10px 0px 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: white;
  user-select: none;
}

.adicionar img {
  height: 20px;
}

.espacamento-input-btn {
  display: flex;
  justify-content: space-between;
}

table {
  background-color: white;
  border-collapse: collapse;
  border-radius: 6px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

table tr {
  border-bottom: 1px solid #d9d9d9;
}

td {
  padding: 17px 10px 24px 10px;
}

th {
  padding: 31px 10px 15px 10px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
  font-size: 15px;
  text-align: left;
}

.padrao-th-td {
  text-align: center;
}

.circulo-border {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  border: 1px solid black;
}

.nome-completo {
  display: flex;
  gap: 10px;
}

.status {
  background-color: #f0fdf4;
  border: 1px solid #c4ecd2;
  padding: 8px 4px;
  text-align: center;
  border-radius: 4px;
  color: rgba(30, 72, 0, 1);
}

.status-centralizar {
  text-align: center;
  height: 1px;
  width: 1px;
}

.nome-email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.texto-bold {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 600;
}

.tam-texto-bold {
  font-size: 12px;
}

.modal {
  margin: auto;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 1) 24%,
    rgba(255, 255, 255, 1) 0%
  );
  padding: 67px 88px 50px 88px;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.modal::backdrop {
  background-color: rgba(217, 217, 217, 0.7);
}

.modal-flex {
  display: flex;
  gap: 40px;
}

.input-modal {
  border-radius: 8px;
  height: 40px;
  width: 407px;
  border: 1px solid #746e6eba;
  padding-left: 10px;
}

.flex-columns-modal {
  display: flex;
  flex-direction: column;
}

.tam-select-plano {
  width: 160px;
}

.tam-select-vencimento {
  width: 244px;
}

.tam-select-status {
  width: 121px;
}

dialog {
  font-family: "Montserrat", Arial, sans-serif;
}

.closed-global {
  background-color: transparent;
  border: 1px solid rgba(212, 6, 6, 1);
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  font-size: 17px;
  font-weight: 600;
  color: rgba(212, 6, 6, 1);
  cursor: pointer;
}

.cadastrar-global {
  background-color: rgba(149, 156, 85, 1);
  border: none;
  border-radius: 5px;
  padding: 2px 6px 2px 6px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.btns-modal {
  display: flex;
  justify-content: end;
  gap: 10px;
}

dialog label {
  font-size: 17px;
  font-weight: 600;
}

.nome-cadastro {
  font-weight: 700;
  font-size: 20px;
  color: rgba(149, 156, 85, 1);
}

#form1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.perfil {
  padding: 12px 0px 20px 0px;
}

.perfil-fundo {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 59rem;
  top: 6rem;
}

.cabecalho-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.editar-foto {
  position: absolute;
  top: 12rem;
  left: 9rem;
}

#telefone {
  width: 202px;
}

#discord {
  width: 178px;
}

#skype {
  width: 286px;
}

#dataCadastro {
  width: 190px;
}

#dataBloqueio {
  width: 167px;
}

.espaco-btns {
  display: flex;
  gap: 25px;
}

.bloqueado {
  background-color: rgba(255, 224, 224, 1);
  border: 1px solid rgba(255, 133, 133, 1);
  padding: 4px 4px;
  text-align: center;
  border-radius: 4px;
  color: rgba(163, 5, 5, 1);
}

.cursor-btns {
  cursor: pointer;
}

/* dialog 2*/
.modal-2 {
  margin: auto;
  background: white;
  padding: 67px 88px 50px 88px;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.modal-2::backdrop {
  background-color: rgba(217, 217, 217, 0.7);
}
.nameTwoCadastro {
  font-weight: 600;
}

#telefone-2 {
  width: 202px;
}

#discord-2 {
  width: 178px;
}

#skype-2 {
  width: 286px;
}

#dataCadastro-2 {
  width: 190px;
}

#dataBloqueio-2 {
  width: 167px;
}

#form2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* modal 3 */
.modal-3 {
  margin: auto;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.modal-3::backdrop {
  background-color: rgba(217, 217, 217, 0.7);
}

.flex-modal3 {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-bottom: 34px;
}

.nome-associado {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
}

.nome-desc {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
}

.cabecalho-modal-3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.fechar {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: transparent;
  border: 1px solid rgba(212, 6, 6, 1);
  border-radius: 5px;
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.apagar {
  background-color: rgba(149, 156, 85, 1);
  border: none;
  border-radius: 5px;
  padding: 9px 12px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* toastBox */

#toastBox {
  position: absolute;
  bottom: 2rem;
  right: 38rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  padding: 20px;
}

.toast {
  width: 460px;
  height: 54px;
  background: #51a351;
  font-weight: 500;
  margin: 15px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 6px;

  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.toast img {
  margin: 0 10px;
}

.toast p {
  margin: 0 10px;
}

.toast.exluido {
  background-color: red;
}

/* modal-4 */

.modal-4 {
  margin: auto;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}

.divFirstModal4{
  background-repeat: no-repeat;
}

.moveBtnFechar{
  display: flex;
  justify-content: end;
  top: 185px;
  right: 25px;
  position: absolute;

}

.perfilModal4{
  margin-left: 150px;
  margin-top: -65px;
  width: 133px;
  height: 133px;
}

.namePhotoPerfil{
  display: flex;
}

.namesPerfilModal4{
  margin: 26px;
}

.namePerfil{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: #666666;
}
.nameTwoPerfil{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: #666666;
  font-size: 12px;
}

.flexNameImage{
  display: flex;
  gap: 10px;
  align-items: center;
}

.containerRetangulos{
  display: flex;
  gap: 39px;
  align-items: center;
  justify-content: center;
}

.flexGlobal{
  display: flex;
  gap: 21px;
 align-items: center;
}

.retanguloGlobal{
  background: #968F46;
  padding: 14px 88px;
  border-radius: 6px;
}

.numberGlobal{
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 28px;
}

.globalName{
  color: white;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.containerColumnOne{
  display: flex;
  flex-direction: column;
}

.containerValue{
  display: flex;
  gap: 110px;
  padding: 60px 70px;
}

.containerColumn{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.globalLabel{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 17px;
}

.globalUser{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 15px;
  color: #484848;
}

.containerFlexValue{
  display: flex;
  flex-direction: column;
  gap: 8px;
}